.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(5px + 1vmin);
  color: rgb(36, 52, 129);
  margin: 5vh;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CurrencySelector {
  margin-bottom: 4vh;  
}

.FormLabel {
  margin-bottom: 3vh;  
}

.Warning {
  padding:3vh;
  color: #c52b2b;
}

.Frame {
  margin:3vh;
  padding:2vh;
  height:'100%';
}

.Topic 
{
  margin:3vh;
  padding:3vh;
  color:grey;
}